= javascript('transcoder_console')

= content_for :breadcrumb do
  %li
    = link_to 'Home' , '/'
    %span.divider /
  %li.active Transcoder Console

.row-fluid
  .span8
    .row-fluid
      %h3 Run Command
      %form#perform
        .row-fluid
          .span9
            %label{for: 'command'}
              Command:
              %textarea.span12{name: 'command', :rows => 3}= params[:command]
        .row-fluid
          .span3
            %label{for: 'host'}
              Host:
              %input#host{type: 'text', name: 'host', value: params[:host]}
            %label{for: 'port'}
              Port:
              %input#port{type: 'text', name: 'port', value: params[:port]}
        %input#run_command.btn.btn-primary{type: 'button', value: 'Run'}
        %img#ajax-loader{src: '/assets/ajax-loader.gif', style: 'display: none;'}

    .row-fluid
      %h3 Console
      .span12
        .span2
          %input.btn#clear-log{type: 'button', value: 'Clear Log'}
        %label.checkbox.inline{for: 'show_output'}
          show output
          %input.checkbox#show_output{type: 'checkbox', name: 'show_output', value: '1', checked: true}
        %label.checkbox.inline{for: 'show_command'}
          show command
          %input.checkbox#show_command{type: 'checkbox', name: 'show_command', value: '2', checked: true}
        %label.checkbox.inline{for: 'show_response'}
          show response
          %input.checkbox#show_response{type: 'checkbox', name: 'show_response', value: '3', checked: true}
        #results

  .span4
    %h3 Commands
    %div mod_get_slots
    %div mod_remove_slot 3
    %div ## doesn't work transcoder.mod_get_net_config 3
    %div ## doesn't work transcoder.mod_slot_get_status 3
    %div mod_get_slot 3
    %div mod_slot_stop 3
    %div mod_restart
    %div mod_create_slot 3, 1, 2, [[3, 0, 0, 0], [101, 1, 20, 0]]
    %div mod_slot_restart 3, '192.168.1.2', 3000, '192.168.1.2', 3000, 2, [0, 1]
    %div mod_slot_get_status 3

