= content_for :breadcrumb do
  %li.active Home

%br
%br
%br
.row-fluid
  .span3.offset1
    = image_tag 'bb.png'
  .span6
    %h1 BB Web Broadcast
    %p
      Welcome to the web broadcast system of Bnei Baruch.
    %p
      Intention !